@import "bootstrap";
body {
  background-color: #171c1d;
  color: #b3ca74;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  input {
    color: #000000;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #3c8cc2;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.gd-tableTitle {
  color: #af5c37;
}

.gd-topicTitle {
  color: #3c8cc2;
}

.gd-h1 {
  text-align: center;
  vertical-align: middle;
  color: blueviolet;
  padding-top: auto;
  padding-bottom: auto;
  height: 100%;
  font-size: 4em;
}

.gd-title {
  height: 20vh;
}

.gd-newTopic {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}